*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display:flex;
    justify-content: space-around;
    padding:60px 40px;
    background-color: rgb(240, 249, 255);
}
.logo h1{
    color:dodgerblue;
    font-size: 36px;
}
.ikonka{
    width: 30px;
    height: 40px;
}
.bayroq{
    width: 30px;
    height: 40px;
}

.logo h2
{
   
   padding-left:15px;
   font-family: sans-serif;
   font-size: 28px;
}
.cif_ru{
    display:flex;
    justify-content: space-around;
    color:dodgerblue;
}
.button
{
    background-color: rgba(0, 0, 255, 0.619);
    color:#fff;
    
    padding:20px 80px;
    border-radius:25px ;
    font-weight: bold;
    font-size:18px;

}
.button:hover{
    background-color: #fff;
    color:#555;
    cursor: pointer;
}

.list-item{
  
  display:flex;
  justify-content:space-around;
  list-style-type: none;
  padding-top:30px;
  font-size:25px;
  padding:30px 20px;
}
.list-item :hover{
    color:darkblue;
}
.banner{
    width: 100%;
    height: 100px;
    padding-top:15px;
}
.fon{
    background-color: aliceblue;
    padding:20px 40px;
}
.fon h3 {
    padding:15px 10px;
}

.section{
    display: flex;
    justify-content: space-around;
}
.paragrf{
    width: 78%;
    height:80px;
    padding-left:15px;
}
.fon p:nth-child(4){
    font-family: sans-serif;
    font-weight: bold;

}
.hokim{
  display:flex;
 justify-content:space-evenly;
 list-style-type: none;
 padding: 25px 40px;
 font-size: 20px;
}
.box{
    padding:10px 40px;
    font-family: sans-serif;
}
.box-2{
    display:flex;
    justify-content: space-around;
      font-size: 20px;
        font-weight: bold;  
        padding-top:20px;
        padding-bottom:60px;
}
.footer{
    display:flex;
    justify-content: space-around;
    padding:60px 40px;

}
.lorem h3{
    padding-top:40px;
    color:dodgerblue;
    padding-bottom:10px;
    font-size: 20px;
    font-family: sans-serif;
}
.lorem p{
    font-size: 16px;
    font-family: sans-serif;
}
.footer2{
    background-color:rgb(45, 92, 179);
    display:flex;
    justify-content: space-around;
    padding-top:50px ;
    padding-bottom:20px;
}
.namangan{
    background-color:#fff ;
    padding:15px 50px;
    border-radius: 10px;
    color:darkblue;
    font-weight: bold;
}
.namangan:hover{
    background-color:aqua;
    color:black;
    cursor:pointer;
}
.footer2 p{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
   }
  
.namangan2{
    background-color:#fff ;
    padding:15px 50px;
    border-radius: 10px;
    color:#555;
    font-weight: bold; 
}
.namangan2:hover{
    background-color: aqua;
    color:#fff;
    cursor:pointer;
}
.footer3{
    display:flex;
    justify-content: space-around;
    background-color:rgb(45, 92, 179);
    padding-top:60px;
    color:#fff;
    font-style: italic;
    padding-bottom:60px;
}
.reklama{
    list-style-type: none;  
   
}
.komanda{
    list-style-type: none;
}